<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/template">

<div layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Reservations</h1>
        <div th:if="${information}" class="alert-info info-border" role="alert" th:text="${information}"></div>
        <form class="form-inline" role="search" action="/admin/reservation" method="get">
            <div class="form-group">
                <input name="username" class="form-control mr-sm-2" type="text" placeholder="Username" th:value="${#request.getParameter('username')}">
            </div>
            <div class="form-group">
                <input name="id" class="form-control mr-sm-2" type="text" placeholder="ID" th:value="${#request.getParameter('id')}">
            </div>
            <div class="form-group">
                <select class="form-control" name="type">
                    <option value="">Room Type</option>
                    <option value="Economy" th:selected="${#request.getParameter('type') eq 'Economy'}">Economy</option>
                    <option value="Business" th:selected="${#request.getParameter('type') eq 'Business'}">Business</option>
                    <option value="Luxury" th:selected="${#request.getParameter('type') eq 'Luxury'}">Luxury</option>
                    <option value="Suite" th:selected="${#request.getParameter('type') eq 'Suite'}">Suite</option>
                </select>
            </div>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                    <input type="text" name="checkInTime" class="form-control" placeholder="Check-In Date">
                    <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker2">
                    <input type="text" name="checkInTime" class="form-control" placeholder="Check-Out Date">
                    <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" name="status">
                    <option value="">Status</option>
                    <option value="Pending" th:selected="${#request.getParameter('status') eq 'Pending'}">Pending</option>
                    <option value="Reserved" th:selected="${#request.getParameter('status') eq 'Reserved'}">Reserved</option>
                    <option value="CheckedIn" th:selected="${#request.getParameter('status') eq 'CheckedIn'}">CheckedIn</option>
                    <option value="CheckedOut" th:selected="${#request.getParameter('status') eq 'CheckedOut'}">CheckedOut</option>
                    <option value="Cancelled" th:selected="${#request.getParameter('status') eq 'Cancelled'}">Cancelled</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="sortBy">
                    <option value="checkInTime" th:selected="${#request.getParameter('sortBy') eq 'checkInTime'}">Check In Time</option>
                    <option value="checkOutTime" th:selected="${#request.getParameter('sortBy') eq 'checkOutTime'}">Check Out Time</option>
                    <option value="id" th:selected="${#request.getParameter('sortBy') eq 'id'}">ID</option>
                    <option value="type" th:selected="${#request.getParameter('sortBy') eq 'type'}">Type</option>
                    <option value="status" th:selected="${#request.getParameter('sortBy') eq 'status'}">Status</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="order">
                    <option value="dasc" th:selected="${#request.getParameter('order') eq 'dasc'}">DASC</option>
                    <option value="asc" th:selected="${#request.getParameter('order') eq 'asc'}">ASC</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div class="m-4">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Check In Time</th>
                    <th>Check Out Time</th>
                    <th>Cost</th>
                    <th>Room Type</th>
                    <th>Room</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td> <span th:text="${reservation.id}"></span> </td>
                        <td> <span th:text="${reservation.user.name}"></span> </td>
                        <td> <span th:text="${#dates.format(reservation.checkInTime, 'YYYY/MM/dd')}"></span> </td>
                        <td> <span th:text="${#dates.format(reservation.checkOutTime, 'YYYY/MM/dd')}"></span> </td>
                        <td> <span th:text="${reservation.cost}"></span> </td>
                        <td> <span th:text="${reservation.room.type}"></span> </td>
                        <td> <span th:text="${reservation.room.roomNumber}"></span> </td>
                        <td> <span th:text="${reservation.status}"></span> </td>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm" th:attr="onclick=|$('#checkInForm' + ${reservation.id})[0].submit()|">
                                In
                            </button>
                            <button class="btn btn-warning btn-circle btn-sm" th:attr="onclick=|$('#checkOutForm' + ${reservation.id})[0].submit()|">
                                Out
                            </button>
                            <a class="btn btn-info btn-circle btn-sm" th:href="@{/admin/reservation/} + ${reservation.id}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a class="btn btn-danger btn-circle btn-sm" th:href="@{/admin/payment?reservation=} + ${reservation.id}">
                                P
                            </a>
                            <form name="checkInForm" method="POST" th:action="@{/admin/reservation/checkIn/} + ${reservation.id}" th:id="checkInForm + ${reservation.id}"></form>
                            <form name="checkOutForm" method="POST" th:action="@{/admin/reservation/checkOut/} + ${reservation.id}" th:id="checkOutForm + ${reservation.id}"></form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>