<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<div layout:fragment="content">

    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">Login</h2>
            </div>
        </div>
    </section>

    <section class="sample-text-area">
        <div class="container">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-warning" role="alert">
                You have been logged out.
            </div>
            <div class="d-flex justify-content-center">
                <form th:action="@{/login}" method="post">
                    <div class="form-group row mt-10">
                        <label for="username">Login name</label>
                        <input type="text" name="username" class="single-input" id="username" placeholder="Login Name">
                    </div>
                    <div class="form-group row mt-10">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="single-input" id="password" placeholder="Password">
                    </div>
                    <div class="form-group row mt-10">
                        <button type="submit" value="Sign In" class="genric-btn info">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
</html>
