<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<div layout:fragment="content">

    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">Register</h2>
            </div>
        </div>
    </section>

    <section class="sample-text-area">
        <div class="container">
            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

            <div class="d-flex justify-content-center">
                <form th:object="${user}" method="POST">
                    <div class="form-group row mt-10">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" class="single-input" id="name" th:field="*{name}" placeholder="John Smith">
                        <small class="form-text text-muted">We'll never share your information with anyone else.</small>
                    </div>

                    <div class="form-group row mt-10">
                        <label for="loginName">Login Name</label>
                        <input type="text" name="loginName" class="single-input" id="loginName" th:field="*{loginName}" placeholder="Login Name">
                    </div>

                    <div class="form-group row mt-10">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="single-input" id="password" th:field="*{password}" placeholder="Password">
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="form-group row mt-10">
                        <button type="submit" value="Register" class="genric-btn info">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


</div>
</html>
