<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<div layout:fragment="content">

    <section class="banner_area">
        <div class="booking_table d_flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(0px);"></div>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">Reservation Detail</h1>
                    <p class="lead" th:text="'Reservation id: '+${reservation.id}"></p>
                    <hr class="my-4">
                    <p class="lead" th:text="'Room number: '+${reservation.room.roomNumber}"></p>
                    <p class="lead" th:text="'Check in time: '+${reservation.checkInTime}"></p>
                    <p class="lead" th:text="'Check out time: '+${reservation.checkOutTime}"></p>
                    <p th:text="'Reservation status: '+${reservation.status}"></p>

                    <p class="lead" th:if="${reservation.status != T(com.hotel.reservation.type.ReservationStatusType).Cancelled}">
                        <a th:href="@{/reservation/{id}/cancel(id = ${reservation.id})}" class="btn btn-danger">Cancel Reservation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
</html>
