<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<div layout:fragment="content">

    <section class="banner_area">
        <div class="booking_table d_flex align-items-center">

            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <p th:text="${reservation.id}"></p>
                <p th:text="${reservation.room.roomNumber}"></p>
                <p th:text="${reservation.checkInTime}"></p>
                <p th:text="${reservation.checkOutTime}"></p>
                <p th:text="${reservation.status}"></p>
                <!---
                <th:block th:if="${reservation.status != reservationStatusType.Cancelled}"
                --->
                    <a th:href="@{/reservation/}+${reservation.id}+@{/cancel}" class="btn btn-danger">Cancel Reservation</a>

            </div>
        </div>
    </section>

</div>
</html>
